{
  "exclude": [
    ".github/**/*",
    "coverage/**/*",
    "docs/**/*",
    "test/**/*"
  ],
  "instrument": true,
  "reporter": ["html", "lcov", "text"],
  "require": ["esm"],
  "sourceMap": false
}
